%h1 Hola México

%div.container
	%div#dropzone
		%div.image-template
			%img.hidden.dropzone__image
			%div#dropzone__instructions
				%p Arrastra ó
				%div.select-button#dropzone__select-button
					Selecciona tus imágenes
	%input.hidden#image-input{type: "file"}