%h1 Hola México

%div.container
	%div#dropzone
		%div#dropzone__image-template
			%img.dropzone__image
			%div#dropzone__instructions
				%p Arrastra ó
				%div.select-button
					Selecciona tus imágenes