// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$play-grey: #243d42;
$play-red: #c61414;
$elements-vertical-spacing: 15px;



*{
	margin: 0;
	padding: 0;
}
body{
	text-align: center;
}

.container{
	display: block;
	width: 100%;

}
.select-button{
	padding: 10px;
	background-color: $play-grey;
	color: white;
}
.hidden{
	display: none;
	max-width: 0;
}
.show{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.show-flex{
	display: flex !important;

}
.alert-button{
	background-color: $play-red;
	color: white;
	border-radius: 5px;
}
.grey-background{
		background-color: grey;
}
.white-background{
		background-color: white !important;
}


//Styling for IDs

#dropzone{
	width: 406px;
	height: 226px;
	padding: 15px;
	margin: 0 auto;
	border: 1px dashed lightgrey;
	border-radius: 5px;

	
	.image-template{
		position: relative;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: lightgrey;
	}
	
	

	.dropzone__image{
		height: 100%;
	}
	#dropzone__instructions{
		margin: 0 auto;
		p,
		div{
			margin: $elements-vertical-spacing 0;
		}
	}
	.dropzone__options{
		position: absolute;
		bottom: 0;
		width: 100%;
		max-height: 70px;
		height: 70px;
		display: none;
		align-items: center;
		background-color: rgba(255,255,255,0.75);

		#dropzone__buttons{
			margin: 0 auto;

			#dropzone__description-option:hover,
			#dropzone__delete-option:hover{
				color: #7bc043;
				cursor: pointer;
			}
			#dropzone__description-option,
			#dropzone__delete-option{
				display: inline-block;
				padding: 10px;
				vertical-align: middle;
			}
			#dropzone__delete-option{
				border-left: 1px solid black;
			}
		}
	}
	.dropzone__delete-options{
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
		background-color: rgba(0,0,0,0.4);
		align-items: center;
		#dropzone__delete-buttons{
			width: 80%;
			margin: 0 auto;
			#dropzone__delete-button,
			#dropzone__cancel-button{
				display: inline-block;
				padding: 15px;
				cursor: pointer;
				margin: $elements-vertical-spacing 0;
			}
		}
	}


}




